.recipeCard{
  width: 100%;
  height: 220px;
}
.recipeCardImage{
  width: 100%;
  height: 150px;
}
.recipeCardTitle{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.recipeCardChef{
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  margin-top: 6px;
}
.recipeCardStarChef{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipeCardData{
  margin-left: .5em;
  margin-right: .5em;
}