.splashImage{
  width: 100%;
  height: 150px;
}
.splashTitle{
  margin: 0;
  padding: 0;
  padding-left: .5em;
  padding-top: .2em;
  font-size: 18px;
  font-family: 'Montserrat';
}
.splashRecipe{
  padding-bottom: 20px;
  padding-top: 30px;
}