.collection{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 140px;
  margin-bottom: 10px;
}
.collectionData{
  padding: .5em;
  position: relative;
}
.collectionImage img{
  width: 100%;
  height: 140px;
}
.collectionData h3{
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 500;
}
.collectionData p {
  font-size: 12px;
  text-align: center;
  bottom: 0;
  padding-top: 20px;
}
