nav {
  background-color: #CB2121;
  height: 23px;
  padding: 3%;
  position: fixed;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
}
.logo{
  width: 40%;
}
.navIcon{
  color: white;
  font-size: 25px;
  float: right;
  padding-right: 10px;
}

@media (min-width: 1025px) and (max-width: 1980px) {
  nav {
    position: relative;
  }
}