<template>
<section id='app'>
    <router-view></router-view>
  </section>
</template>
<script>
  export default {
  }
</script>
<style>
body{
  margin: 0;
  font-family: 'Montserrat';
 
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}

@media (min-width: 1281px) {
  body {
 width: 40%;
  margin: 0 auto;
  }

}
</style>