body {
  margin: 0;
  font-family: 'Montserrat';
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1281px) {
  body{
    width: 40%;
    margin: 0 auto;
  }
}