.ingredientsPageSection{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  text-align: left;
  height: 15vh;
  align-items: flex-start;
  padding-bottom: 1em;
  margin-left: .5em;
}
.ingredientsTitle{
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.ingredientsPage{
  color: white;
  font-weight: 500;
  font-size: 20px!important;
}
.ingredientMinus {
  font-size: 20px;
  position: absolute;
  left: -25px;
  color: white;
  padding-right: 10px;
}
.noIngredientsPageSection{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  text-align: left;
  height: 35vh;
  align-items: center;
  padding-bottom: 1em;
}
.noIngredientsTitle{
  font-size: 24px;
  color: white;
  font-weight: 500;
  height: 50px;
}
.noIngredientsSub{
    font-size: 18px;
  color: white;
  font-weight: 500;
  height: 50px;
}