<template>
 <section class='recipeCard' @click='showResults'>
    <img class='recipeCardImage' :src='image'/>
    <section class='recipeCardData'>
    <h3 class='recipeCardTitle'>{{name}}</h3>
      <p class='recipeNum'>Recipes - {{recipes}}</p>
    </section>
  </section>
</template>
<script>
import json from '../json/recipes.json'
export default {
  data(){
    return {
      chefName: '',
      json: [],
      recipesArray: []
    }
  },
  beforeMount(){
    this.chefName = this.$props.name;
    this.json = json;
    setTimeout(() => {
      this.getRecipes();
    }, 100);
  },
  props: {
    chef: {
      type: Object
    },
    name: {
      type: String,
    },
    image: {
      type: String
    },
    recipes: {
      type: String
    }
  },
  methods:{
    getRecipes: function(){
      let json = Object.values(this.json);
      let chefName = this.chefName;
      let recipesArray = [];
      for(let i = 0; i < json.length; i++){
        if(json[i].belongs_to_chef.name === chefName){
          recipesArray.push(json[i])
        }
      }
      this.recipesArray = recipesArray;
    },
    showResults: function(){
      localStorage.setItem('results', JSON.stringify(this.recipesArray));
      localStorage.setItem('searchTerm', this.$props.name);
      window.location.href = '/results/' + this.$props.name;
    }
  }
}
</script>
<style scoped>
.recipeNum{
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  margin-top: 6px;
  float: right;
}
</style>