<template>
<section>
  <h2 class='topRecipesTitle'>Meet The Chefs</h2>
  <section class='topRecipesCards'>
  <ChefCard v-for='chef in chefs' v-bind:key='chef.name' :name='chef.name' :image='chef.image' :recipes='chef.recipes'/>
  </section>
</section>  
</template>
<script>
import json from '../json/recipes.json';
import ChefCard from './ChefCard';
export default {
  components: {
    'ChefCard': ChefCard
  },
  data(){
    return {
      data: [],
      chefs: []
    }
  },
  beforeMount() {
    this.data = json;
    setTimeout(() => {
      this.chefConfig();
    }, 100)
  },
  methods: {
    chefConfig(){
      let data = Object.values(this.data);
      let chefs = [];
      let count = 0;
      for(let i = 0; i < data.length; i++){
        count = count + 1;
        if(count < 5){
          chefs.push(data[i].belongs_to_chef);
        }
      }
        this.chefs = chefs;
    }
  }
}
</script>
<style scoped>

</style>