<template>
  <section class='collections'>
    <h2 class='topRecipesTitle'>Collections</h2>
    <section id='veggie' @click='showResults'>
      <Collection image='https://i.ibb.co/xJbvxqx/egg-on-toast.jpg' title='Veggie Dishes' :num='this.veggie.length' />
    </section>
    <section id='chicken' @click='showResults'>
      <Collection image='https://i.ibb.co/mh67wSq/chow-mein.jpg' title='Chicken Dishes' :num='this.chicken.length' />
    </section>
    <section id='quick' @click='showResults'>
      <Collection image='https://i.ibb.co/4mLms8n/pizza-toast.jpg' title='Quick Recipes' :num='this.quick.length' />
    </section>
  </section>
</template>
<script>
import Collection from '../components/Collection';
import json from '../json/recipes.json'
export default {
  components: {
    'Collection': Collection
  },
  data(){
    return {
      data: [],
      veggie: [],
      chicken:[],
      quick: []
    }
  },
  beforeMount() {
    this.data = json;
    setTimeout(() => {
      this.veggieFunc();
      this.chickenFunc();
      this.quickFunc();
    }, 100)
  },
  methods: {
    veggieFunc(){
     let data = Object.values(this.data);
     let veggie = [];
     for (let i = 0; i < data.length; i++){
       if(data[i].dietary === 'V'){
         veggie.push(data[i]);
       }
     } 
     this.veggie = veggie;
    },
    chickenFunc(){
     let data = Object.values(this.data);
     let chicken = [];
     for (let i = 0; i < data.length; i++){
       if(data[i].recipe.includes('Chicken')){
         chicken.push(data[i])
       }
     }
     this.chicken = chicken;   
    },
    quickFunc(){
     let data = Object.values(this.data);
     let quick = [];
     for (let i = 0; i < data.length; i++){
       if(data[i].cook_time.includes('10')){
         quick.push(data[i])
       }
     }
     this.quick = quick; 
    },
    showResults(e){
      if(e.currentTarget.id === 'veggie'){
        localStorage.setItem('results', JSON.stringify(this.veggie));
        localStorage.setItem('searchTerm', 'Veggie');
        window.location.href = '/results/' + 'Veggie';
      } else if(e.currentTarget.id === 'chicken'){
        localStorage.setItem('results', JSON.stringify(this.chicken));
        localStorage.setItem('searchTerm', 'Chicken');
        window.location.href = '/results/' + 'Chicken';
      } else {
        localStorage.setItem('results', JSON.stringify(this.quick));
        localStorage.setItem('searchTerm', 'Quick');
        window.location.href = '/results/' + 'Quick';
      }
    }
  }
}
</script>
<style scoped>
  .collections{
    padding-bottom: 2em;
  }
</style>