<template>
<footer>
  <p>Created By Jake Leigh</p>
</footer>
</template>
<script>
export default {
  
}
</script>
<style scoped>
footer {
  background-color: #CB2121;
  height: 50px;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}
</style>