<template>
  <section>
    <Ingredients @hideIngredientsPage='hideIngredientsPageState' v-if='showIngredientsPageState'/>
     <Search @hideSearchPage='hidePage' v-else-if='showPage'/>
     <section v-else>
    <header>
      <Nav @showSearchPage='showSearchPage' @showIngredientsPage='showIngredientsPage'/>
    </header>
    <router-link :to="'/recipe/' + 'Ham and cheese omelette'" style="textDecoration: none; color: inherit">
    <section class='splashRecipe'>
      <img class='splashImage' src='../assets/recipeImages/omelette.jpg' alt='Ham and cheese omelette'/>
      <h1 class='splashTitle'>Ham and Cheese Omelette</h1>
    </section>
    </router-link>
    <TopRecipes />
    <Collections />
    <ChefCards />
    <Footer />
    </section>
  </section>
</template>
<script>
import TopRecipes from '../components/TopRecipes';
import Collections from '../components/Collections';
import ChefCards from '../components/ChefCards';
import Nav from '../components/Nav';
import Footer from '../components/Footer'
import Search from './Search'
import Ingredients from './Ingredients'

export default {
  components: {
    'TopRecipes': TopRecipes,
    'Collections': Collections,
    'ChefCards': ChefCards,
    'Footer': Footer,
    'Nav': Nav,
    'Search': Search,
    'Ingredients': Ingredients
  }, 
  data(){
    return {
      showPage: false,
      showIngredientsPageState: false
    }
  },
  methods: {
    showSearchPage: function(){
      this.showPage = true
    },
    hidePage: function(){
      this.showPage = false;
    },
    showIngredientsPage: function(){
      this.showIngredientsPageState = true;
    },
    hideIngredientsPageState: function(){
      this.showIngredientsPageState = false;
    }
  }
}
</script>
<style scoped>
.splashImage{
  width: 100%;
  height: 150px;
}
.splashTitle{
  margin: 0;
  padding: 0;
  padding-left: .5em;
  padding-top: .2em;
  font-size: 18px;
}
.splashRecipe{
  padding-bottom: 20px;
  padding-top: 30px;
}
</style>