<template>
  <section class='searchPage'>
    <section v-if='ingredients == null || ingredients.length == 0'>
     <p @click='hideIngredientsPageState' class='cross'>X</p>
     <section class='noIngredientsPageSection'>
       <h1 class='noIngredientsTitle'>No ingredients added</h1>
       <h2 class='noIngredientsSub'>Go add some</h2>
       <router-link to='/'>
        <button class='searchBtn'>
          <i class='SearchArrow fas fa-arrow-right'/>
        </button>
       </router-link>
      </section>
    </section>
    <section v-else>
          <p @click='hideIngredientsPageState' class='cross'>X</p>
    <section class='ingredientsSectionPage'>
      <h1 class='ingredientsTitle'>Ingredients</h1>
    </section>
    <section class='ingredientsPage'>
      <li @click='removeIngredient' class='ingredientList' v-for='(ingredient, key) in ingredients' :key='key' :id='key'>
        <i class='ingredientMinus fas fa-minus'/>
        <span style='font-size: 16px'>{{ingredient[0]}}{{ingredient[1]}}</span>
      </li>
    </section>
    </section>
  </section>
</template>
<script>
export default {
  data(){
    return {
      ingredients: [],
      combinedIngredients: []
    }
  },
  beforeMount() {
    let ingredients = JSON.parse(localStorage.getItem('ingredientsList'));
    this.ingredients = ingredients;
    setTimeout(() => {
      this.calculateIngredients()
    }, 100)
  },
  methods: {
    hideIngredientsPageState: function(){
      this.$emit('hideIngredientsPage');
    },
    removeIngredient: function(e){
      let ingredients = this.ingredients;
      for(let i = 0; i < ingredients.length; i++){
        if(i === parseInt(e.currentTarget.id)){
          ingredients.splice(i, 1);
        }
      }
      this.ingredients = ingredients;
      localStorage.setItem('ingredientsList', JSON.stringify(ingredients))
    },
    calculateIngredients: function(){
      let ingredients = this.ingredients;
      let duplicatedIngredients = [];
      for(let i = 0; i < ingredients.length; i++){
        for(let j = 0; j < ingredients.length; j++){
          if(i !== j){
            if(ingredients[i][1] === ingredients[j][1]){
              duplicatedIngredients.push(ingredients[i]);
            }
          }
        }
      }
      if(duplicatedIngredients.length !== 0){
        this.combineIngredients(duplicatedIngredients);
      }
    },
    combineIngredients: function(duplicatedIngredients){
    let combinedIngredient = [];
    let measurement = 0;
    let ingredient;
    for(let i = 0; i < duplicatedIngredients.length; i++){
       measurement = measurement + parseInt(duplicatedIngredients[i][0]);
      ingredient = duplicatedIngredients[1][1];
    }
    combinedIngredient.push([measurement, ingredient]);

      this.combinedIngredients = combinedIngredient;
      this.addIngredient();
    },
    addIngredient: function(){
      let ingredients = this.ingredients;
      let combinedIngredient = this.combinedIngredients;
      let newIngredients = [];
      for(let i = 0; i < ingredients.length; i++){
        if(ingredients[i][1] !== combinedIngredient[0][1]){
          newIngredients.push(ingredients[i]);
        }
      }
      newIngredients.push([combinedIngredient[0][0], combinedIngredient[0][1]]);
      this.ingredients = newIngredients;
      localStorage.setItem('ingredientsList', JSON.stringify(newIngredients));
    }
  },
}
</script>
<style>
.ingredientsSectionPage{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  text-align: left;
  height: 15vh;
  align-items: flex-start;
  padding-bottom: 1em;
  margin-left: .5em;
}
.ingredientsTitle{
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.ingredientsPage{
  color: white;
  font-weight: 500;
  font-size: 20px!important;
}
.ingredientMinus {
  font-size: 20px;
  position: absolute;
  left: -25px;
  color: white;
  padding-right: 10px;
}
.noIngredientsPageSection{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  text-align: left;
  height: 35vh;
  align-items: center;
  padding-bottom: 1em;
}
.noIngredientsTitle{
  font-size: 24px;
  color: white;
  font-weight: 500;
  height: 50px;
}
.noIngredientsSub{
    font-size: 18px;
  color: white;
  font-weight: 500;
  height: 50px;
}
</style>