<template>
<section>
  <Search @hideSearchPage='hidePage' v-if='showPage'/>
  <Ingredients @hideIngredientsPage='hideIngredientsPageState' v-if='showIngredientsPageState'/>
  <nav>
    <router-link to='/'><img class='logo' src='../assets/Logos/unifood-white-text.png'/></router-link>
    <i @click='showIngredientsPage' class="navIcon fas fa-shopping-cart"></i>
    <i @click='showSearchPage' class="navIcon fas fa-search"></i>
  </nav>
  </section>
</template>
<script>
import Search from './Search';
import Ingredients from './Ingredients'
export default {
  components: {
    'Search': Search,
    'Ingredients': Ingredients
  },
  data(){
    return {
      showPage: false,
      showIngredientsPageState: false
    }
  },
  methods: {
    showSearchPage: function(){
      this.$emit('showSearchPage')
    },
    hidePage: function(){
      this.showPage = false;
    },
    showIngredientsPage: function(){
     this.$emit('showIngredientsPage')
    },
    hideIngredientsPageState: function(){
      this.showIngredientsPageState = false;
    }
  }
}
</script>
<style scoped>
nav {
  background-color: #CB2121;
  height: 23px;
  padding: 3%;
  position: fixed;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
}
.logo{
  width: 40%;
}
.navIcon{
  color: white;
  font-size: 25px;
  float: right;
  padding-right: 10px;
}

@media (min-width: 1025px) and (max-width: 1980px) {
  nav {
    position: relative;
  }
}
</style>