<template>
  <img class='starRating' :src='ratingLogic()'/>
</template>
<script>
import star1 from '../assets/1star.png';
import star2 from '../assets/2star.png';
import star3 from '../assets/3star.png';
import star4 from '../assets/4star.png';
import star5 from '../assets/5star.png';
export default {
  props: {
    rating:{
      type: Number
    }
  },
  methods: {
    ratingLogic(){
      let rating = this.rating;
      if(rating === 1){
        return star1;
      } else if(rating === 2){
        return star2;
      }else if(rating === 3){
        return star3;
      }else if(rating === 4){
        return star4;
      }else if(rating === 5){
        return star5;
      }
    }
  }
}
</script>
<style scoped>
.starRating{
  padding-top: 5px;
  width: 80px;
  height: 15px;
}
</style>