<template>
<section>
   <Ingredients @hideIngredientsPage='hideIngredientsPageState' v-if='showIngredientsPageState'/>
     <Search @hideSearchPage='hidePage' v-else-if='showPage'/>
     <section v-else>
  <header>
    <Nav @showSearchPage='showSearchPage' @showIngredientsPage='showIngredientsPage'/>
  </header>
  <section class='recipeSplash'>
    <h1 class='recipeTitle'>{{recipeData.recipe}}</h1>
    <section class='starDietary'>
      <StarRating :rating='recipeData.star_rating'/>
      <h2 class='dietary'>{{recipeData.dietary}}</h2>
    </section>
    <img :src='recipeData.recipe_image' class='recipeImage' :alt='recipeData.recipe'/>
  </section>
   <section class='recipeData'>
      <section class='prepCook'>
        <section>
          <p class='timeText'>Prep Time</p>
          <h3 class='timeData'>{{recipeData.prep_time}}</h3>
        </section>
        <section>
          <p class='timeText'>Cook Time</p>
          <h3 class='timeData'>{{recipeData.cook_time}}</h3>
        </section>
      </section>
      <h4 class='recipeDescription'>{{recipeData.description}}</h4>
    </section>
    <section class='ServesSection'>
      <p class='servesText'>Serves: {{recipeData.serves}}</p>
    </section>
    <section class='ingredientsSection'>
      <h2 class='topRecipesTitle'>Ingredients</h2>
      <section class='ingredients'>
      <li @click='addIngredient' :data-value='ingredient.measurement' :data-id='ingredient.ingredient' class='ingredientList' v-for='ingredient in ingredients' :key='ingredient.ingredient'>
        <i class='ingredientPlus fas fa-plus'/>
        {{ingredient.measurement}}{{ingredient.ingredient}}
      </li>
      <button @click='addAll' class='addAllButton'>Add all</button>
      </section>
    </section>
    <section class='instructionsSection'>
      <h2 class='topRecipesTitle'>Instructions</h2>
      <ol>
        <li class='instructionList' v-for='instruction in instructions' :key='instruction'>
          {{instruction}}
          </li>
      </ol>
      </section>
      <section class='nutritionSection'>
        <h2 class='topRecipesTitle'>Nutrition Facts</h2>
        <p class='nutrients'>{{recipeData.food_nutrients}}</p>
      </section>
      <Footer />
      </section>
</section>
</template>
<script>
import json from '../json/recipes.json'
import StarRating from '../components/RecipeStarRating'
import Nav from '../components/Nav'
import Footer from '../components/Footer'
import Search from './Search'
import Ingredients from './Ingredients'

export default {
  props: {
    recipename: {
      type: String
    }
  },
  components: {
    'StarRating': StarRating,
    'Nav': Nav,
    'Footer': Footer,
    'Search': Search,
    'Ingredients': Ingredients
  },
  data(){
      return {
        json: [],
        recipeTitle: '',
        recipeData: [],
        ingredients: [],
        instructions: [],
        showPage: false,
        showIngredientsPageState: false
      }
    },
    beforeMount() {
      this.json = json;
      this.recipeTitle = this.recipename
      setTimeout(() => {
        this.renderRecipe();
        this.renderIngredients();
        this.renderInstructions();
      }, 100)
    },
  methods: {
    renderRecipe: function(){
      let data = Object.values(this.json);
      let recipeTitle = this.recipeTitle;
      for(let i = 0; i < data.length; i++){
        if(recipeTitle === data[i].recipe){
          this.recipeData = data[i]
        }
      }
    },
    updateServings: function(e){
      this.recipeData.serves = e.target.value
    },
    updateServingsButton: function(e){
      if(e.target.id === 'minus'){
        this.recipeData.serves = this.recipeData.serves - 1;
      } else {
        this.recipeData.serves = this.recipeData.serves + 1;
      }
    },
    renderIngredients: function(){
      let ingredients = Object(this.recipeData.ingredients);
      let array = [];
      for(let i = 0; i < ingredients.length; i++){
        array.push(ingredients[i])
      }
      this.ingredients = array;
    },
    renderInstructions: function(){
      let instructions = Object(this.recipeData.instructions);
      let array = [];
      for(let i = 0; i < instructions.length; i++){
        array.push(instructions[i])
      }
      this.instructions = array;
    },
    addIngredient: function(e){
      let ingredients = JSON.parse(localStorage.getItem('ingredientsList'));
      if(ingredients == null) ingredients = [];
      let measurement = e.currentTarget.dataset.value;
      let ingredient = e.currentTarget.dataset.id;
      ingredients.push([measurement, ingredient]);
      localStorage.setItem('ingredientsList', JSON.stringify(ingredients));
    },
    addAll: function(e){
      e.preventDefault();
      let allIngredients = this.ingredients;
      let ingredients = JSON.parse(localStorage.getItem('ingredientsList'));
      if(ingredients == null) ingredients = [];
      for(let i = 0; i < allIngredients.length; i++){
        ingredients.push([allIngredients[i].measurement, allIngredients[i].ingredient]);
      }
      localStorage.setItem('ingredientsList', JSON.stringify(ingredients));
      console.log(JSON.parse(localStorage.getItem('ingredientsList')))
    },
    showSearchPage: function(){
      this.showPage = true
    },
    hidePage: function(){
      this.showPage = false;
    },
    showIngredientsPage: function(){
      this.showIngredientsPageState = true;
    },
    hideIngredientsPageState: function(){
      this.showIngredientsPageState = false;
    }
  }
}
</script>
<style>
.recipeSplash{
  padding-top: 60px;
}
.recipeTitle{
  color:#3A3A3A;
  padding-left: .5em;
  font-size: 24px;
}
.recipeImage{
  width: 100%;
  height: 150px;
}
.starDietary{
  padding-left: .5em;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.dietary{
  color: #3A3A3A;
  font-size: 14px;
  padding-left: 1em;
  font-weight: 100;
  padding-top: 3px;
}
.prepCook{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}
.timeText{
  font-size: 14px;
}
.timeData{
  font-size: 15px;
  padding-top: 5px;
}
.recipeDescription{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-left: .5em;
  margin-right: .5em;
    margin-bottom: 1em;
}
.servesInput {
  background: #FFFFFF;
  border: 0.8px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
  width: 30px;
  height: 20px;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 14px;
  text-align: center;
}
.ServesSection{
  display: flex;
  flex-direction: row;
  margin-left: .5em;
  margin-bottom: 1em;
}
.servesText{
  margin-right: 1em;
}
i{
  color: #CB2121;
}
.ingredientList{
  list-style: none;
  margin-left: .5em;
  padding-bottom: 1.5em;
  font-size: 13px;
  position: relative;
  left: 30px;
  width: 80%;
}
.ingredientPlus{
  font-size: 20px;
  position: absolute;
  left: -25px;
  color: #008325;
  padding-right: 10px;
}
.ingredients{
  padding-top: 10px;
}
.addAllButton{
  border: 1px solid #008325;
  box-sizing: border-box;
  border-radius: 3px;
  color: #008325;
  background-color: white;
  font-size: 13px;
  padding: 4px;
  width: 80px;
  margin-left: 1em;
}
.instructionsSection{
  padding-top: 1.5em;
    padding-bottom: 1em;
}
ol{
  margin-left: 2em;
  padding: 0;
  margin-right: 2em;
}
.instructionList{
  padding-bottom: 1em;
  font-size: 14px;
  line-height: 161%;
}
.nutrients{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 13px;
  margin-top: .5em;
  line-height: 161%;
  margin-bottom: 1em;
}
</style>