<template>
<router-link :to="'/recipe/' + recipe.recipe" style="textDecoration: none; color: inherit">
  <section class='recipeCard'>
    <img class='recipeCardImage' :src='recipe.recipe_image' :alt='recipe.recipe'/>
    <section class='recipeCardData'>
    <h3 class='recipeCardTitle'>{{recipe.recipe}}</h3>
    <section class='recipeCardStarChef'>
      <section class='starrating'>
        <StarRating :rating='recipe.star_rating'/>
      </section>
      <p class='recipeCardChef'>Chef - {{recipe.belongs_to_chef.name}}</p>
    </section>
    </section>
  </section>
</router-link>
</template>
<script>
import StarRating from './StarRating';
export default {
  components: {
    'StarRating': StarRating
  },
  props: {
    recipe: {
      type: Object,
    },
    recipe_image: {
      type: String
    },
    star_rating: {
      type: Number
    },
    belongs_to_chef: {
      type: String
    }
  }
}
</script>
<style>
.recipeCard{
  width: 100%;
  height: 220px;
}
.recipeCardImage{
  width: 100%;
  height: 150px;
}
.recipeCardTitle{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.recipeCardChef{
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  margin-top: 6px;
}
.recipeCardStarChef{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipeCardData{
  margin-left: .5em;
  margin-right: .5em;
}
</style>