<template>
    <section>
       <Ingredients @hideIngredientsPage='hideIngredientsPageState' v-if='showIngredientsPageState'/>
     <Search @hideSearchPage='hidePage' v-else-if='showPage'/>
     <section v-else>
    <header>
    <Nav @showSearchPage='showSearchPage' @showIngredientsPage='showIngredientsPage'/>
    </header>
    <section class='recipeSplash'>
      <h1 class='recipeTitle'>{{searchTerm}}</h1>
      <h2 class='numResults'>Num of recipes: {{numResults}}</h2>
    </section>
    <section class='topRecipesCards'>
      <RecipeCard v-for='(recipe, recipe_id) in results' v-bind:key='recipe_id' :recipe_id='recipe_id' :recipe='recipe' :belongs_to_chef='belongs_to_chef' :recipe_image='recipe_image' :star_rating='star_rating'/>
    </section>
    <TopRecipes />
    <Collections />
    <ChefCards />
    <Footer />
    </section>
  </section>
</template>
<script>
import Nav from './Nav'
import Footer from './Footer'
import RecipeCard from './RecipeCard'
import Search from './Search'
import Ingredients from './Ingredients'
export default {
  components:{
    'Footer': Footer,
    'Nav': Nav,
    'RecipeCard': RecipeCard,
    'Search': Search,
    'Ingredients': Ingredients
  },
  data(){
    return {
      results: [],
      searchTerm: '',
      numResults: 0,
      showPage: false,
      showIngredientsPageState: false
    }
  },
  beforeMount() {
    let results = JSON.parse(localStorage.getItem('results'));
    this.results = results;
    let searchTerm = localStorage.getItem('searchTerm');
    this.searchTerm = searchTerm
    setTimeout(() => {
     this.resultsConfig()
    }, 100)
  },
  methods: {
    resultsConfig: function(){
      let results = Object.values(this.results);
      let numResults = 0;
      for(let i = 0; i < results.length; i++){
        numResults = numResults + 1;
      }
      this.numResults = numResults;
    },
    showSearchPage: function(){
      this.showPage = true
    },
    hidePage: function(){
      this.showPage = false;
    },
    showIngredientsPage: function(){
      this.showIngredientsPageState = true;
    },
    hideIngredientsPageState: function(){
      this.showIngredientsPageState = false;
    }
  }
}
</script>
<style scoped>
.numResults{
  margin-left: .7em;
  font-size: 16px;
  margin-top: .5em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
</style>