<template>
  <section class='searchPage'>
    <p @click='hidePage' class='cross'>X</p>
    <form class='searchForm'>
      <section class='form'>
        <input @change='saveSearchTerm' type='text' placeholder='Search for a recipe'/>
        <button @click='searchRecipes' class='searchBtn'>
          <i class='SearchArrow fas fa-arrow-right'/>
        </button>
      </section>
    </form>
    <section class='suggestions'>
      <h1 class='suggestion'>Suggestions</h1>
      <ul>
        <li>- Vegan bean and quinoa salad</li>
        <li>- Chicken and mushroom creamy pasta</li>
        <li>- Beef korma with rice</li>
        <li>- Chicken and green bean stir fry</li>
      </ul>
    </section>
  </section>
</template>
<script>
import json from '../json/recipes.json';
export default {
  data(){
    return {
      searchTerm: '',
      json: [],
      searchedRecipes: []
    }
  },
  beforeMount() {
    this.json = json;
  },
  methods:{
    hidePage: function(){
      this.$emit('hideSearchPage')
    },
    saveSearchTerm: function(e){
      this.searchTerm = e.target.value
    },
    searchRecipes: function(e){
      e.preventDefault();
      let search = this.searchTerm;
      let json = Object.values(this.json);
      let searchedRecipes = [];
      for(let i = 0; i <json.length; i++){
        if(json[i].recipe.includes(search)){
          searchedRecipes.push(json[i]);
        }
      }
      this.searchedRecipes = searchedRecipes;
      setTimeout(() => {
        localStorage.setItem('results', JSON.stringify(this.searchedRecipes));
        localStorage.setItem('searchTerm', this.searchTerm);
        window.location.href = '/results/' + this.searchTerm;
      }, 100)
    }
  }
}
</script>
<style>
.searchPage{
  background-color: #CB2121;
  height: 100vh;
  position: relative;
}
.cross{
  color: white;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 40px;
}
.searchForm{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 25vh;
  align-items: center;
  padding-bottom: 3em;
}
.searchForm input {
  background: #FFFFFF;
  border: 0.8px solid #CCCCCC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 270px;
  padding: .5em;
  font-size: 17px;
  font-weight: 500;
  color: #404040;
}
.searchForm input::placeholder {
  font-size: 17px;
  font-weight: 500;
}
.searchBtn{
  border: 2px solid white;
  background-color: transparent;
  color: white;
  height: 35px;
  width: 40px;
  margin-left: 1em;
   border-radius: 3px;
}
.SearchArrow{
  color: white;
  font-size: 25px;
  padding: 1px;
}
.suggestions{
  color: white;
  margin-left: 1.5em;
}
.suggestions h1{
  font-size: 18px;
  font-weight: 500
}
.suggestions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
}
.suggestions li {
  margin-bottom: 1em;
}

</style>