<template>
  <section>
    <h2 class='topRecipesTitle'>Todays Top Recipes</h2>
    <section class='topRecipesCards'>
      <RecipeCard v-for='(recipe, recipe_id) in top4' v-bind:key='recipe_id' :recipe_id='recipe_id' :recipe='recipe' :belongs_to_chef='belongs_to_chef' :recipe_image='recipe_image' :star_rating='star_rating'/>
    </section>
  </section>
</template>
<script>
import json from '../json/recipes.json';
import RecipeCard from '../components/RecipeCard';
export default {
  components: {
    'RecipeCard': RecipeCard
  },
  data(){
    return {
      json: [],
      top4: [{
        recipe: '',
        recipe_id: '',
        belongs_to_chef: '',
        recipe_image: '',
        star_rating: ''
      }]
    }
  },
  beforeMount(){
    this.json = json;
    setTimeout(() => {
      this.top4Config();
    }, 100)
  },
  methods: {
    top4Config: function(){
      let data = Object.values(this.json);
      let count = 0;
      let topRecipes = [];
      for(let i = 0; i < data.length; i++){
        count = count + 1;
        if(count < 5){
          topRecipes.push(data[i]);
        }
      }
      this.top4 = topRecipes;
    }
  }
}
</script>
<style>
.topRecipesCards{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 3em;
}
.topRecipesTitle{
  margin-left: .5em;
  margin-bottom: .5em;
  font-size: 16px;
  font-weight: 500;
}
</style>