.recipeSplash{
  padding-top: 60px;
}
.recipeTitle{
  color:#3A3A3A;
  padding-left: .5em;
  font-size: 24px;
}
.recipeImage{
  width: 100%;
  height: 150px;
}
.starDietary{
  padding-left: .5em;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.dietary{
  color: #3A3A3A;
  font-size: 14px;
  padding-left: 1em;
  font-weight: 100;
  padding-top: 3px;
}
.prepCook{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}
.timeText{
  font-size: 14px;
}
.timeData{
  font-size: 15px;
  padding-top: 5px;
}
.recipeDescription{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 1em;
}
.servesInput {
  background: #FFFFFF;
  border: 0.8px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
  width: 30px;
  height: 20px;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 14px;
  text-align: center;
}
.ServesSection{
  display: flex;
  flex-direction: row;
  margin-left: .5em;
  margin-bottom: 1em;
}
.servesText{
  margin-right: 1em;
}
i{
  color: #CB2121;
}
.ingredientList{
  list-style: none;
  margin-left: .5em;
  padding-bottom: 1.5em;
  font-size: 13px;
  position: relative;
  left: 30px;
  width: 80%;

}
.ingredientPlus{
  font-size: 20px;
  position: absolute;
  left: -25px;
  color: #008325;
  padding-right: 10px;
}
.ingredients{
  padding-top: 10px;
}
.addAllButton{
  border: 1px solid #008325;
  box-sizing: border-box;
  border-radius: 3px;
  color: #008325;
  background-color: white;
  font-size: 13px;
  padding: 4px;
  width: 80px;
  margin-left: 1em;
}
.instructionsSection{
  padding-top: 1.5em;
  padding-bottom: 1em;
}
ol{
  margin-left: 2em;
  padding: 0;
  margin-right: 2em;
}
.instructionList{
  padding-bottom: 1em;
  font-size: 14px;
  line-height: 161%;
}
.nutrients{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 13px;
  margin-top: .5em;
  line-height: 161%;
  margin-bottom: 1em;
}